<div class="container">
    <div class="row section" data-bind="if: movies().length > 0">
        <div class="col-md-12">
            <h1>Recent movies</h1>
            <ul class="movie-list-inline" data-bind="foreach: movies()">
                <li class="image-container" data-bind="css: { watched: playcount > 0 }">
                    <a data-bind="click: $parent.openMovieDetails">
                        <img data-bind="attr: { src: 'image/' + escape(thumbnail), alt: title }" alt="" src="#" />
                        <div class="overlay-fluid" data-bind="html: title"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row section" data-bind="if: episodes().length > 0">
        <div class="col-md-12">
            <h1>Recent episodes</h1>
            <ul class="tvshow-list-inline" data-bind="foreach: episodes()">
                <li class="image-container" data-bind="css: { watched: playcount > 0 }">
                    <a data-bind="click: $parent.openEpisodeDetails">
                        <img data-bind="attr: { src: 'image/' + escape(thumbnail), alt: label }" alt="" src="#" />
                        <div class="overlay-fluid" data-bind="html: label"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>